
/* Table of Contents
==================================================
	#home page
    #hero
    #home
    #features
    #recent news
	
/* Colors
  #Red = #e63323
  #light red = #e5423a
  #black = #333
  ==================================================
*/

/* #hero
================================================== */

/* #hero */
.hero{
  margin: 90px 0 55px 0;
}

.hero > div{
  margin-bottom: 0;
}

.hero h1{
  color: #333;
  font-size: 84px;
  font-weight: 200;
  margin: 0 0 0 50px;
  line-height: 1.2;
  display: inline;
}

.hero h2{
  font-size: 34px;
  color: #e63323;
  line-height: 1;
  text-transform: uppercase;
  margin: 0 380px 0 50px;
  display: inline;
}

.hero img{
  float:left;
}

/* #home page
================================================== */
body.home{
  background: url(/images/home-bg.png) repeat-x center bottom;
}

.home .hero p{
  font-size: 16px;
  margin-left: 95px;
}

/* #features */
.home .features{

}

.home .features .bubble{
  background-color: #f6f6f6;
  width: 220px;
  height: 220px;
  display: block;
  border-radius: 110px 110px 110px 110px;
  box-shadow: 0px 2px 1px #999;
  margin-right: 2%;
}

.home .features .bubble span{
  display: block;
  text-align: center;
  color: #cb2c24;
  font-weight: 200;
}

.home .features .bubble.selected span{
  color: #fff;
}

.home .features .bubble .icon{
  width: 90px;
  height: 75px;
  margin: 50px auto 10px;
  background: url(../images/features-icon.png) repeat 0 0;
}

  .home .features #scalable .icon{
    background-position: 5px 5px;
  }

  .home .features #manageable .icon{
    background-position: 5px 70px;
  }

  .home .features #automated .icon{
    background-position: 5px 150px;
  }

  .home .features #cost-effective .icon{
    background-position: 5px 225px;
  }

.home .features .bubble.selected{
  background-color: #e5423a;
}

  .home .features #scalable.selected .icon{
    background-position: 90px 5px;
  }

  .home .features #manageable.selected .icon{
    background-position: 90px 70px;
  }

  .home .features #automated.selected .icon{
    background-position: 90px 150px;
  }

  .home .features #cost-effective.selected .icon{
    background-position: 90px 225px;
  }


/* #recent news */
.recent-news-title{
  border-bottom: 1px solid #333333;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  line-height: 2;
}

.recent-news{}

.recent-news .news{}

.recent-news .news h3{
  font-size: 14px;
  font-weight: 600; 
  color: #e63323;
  text-transform: uppercase;
  line-height: 1.6;
}

.recent-news .news p{
  font-size: 14px;
  line-height: 1.4;
  color: #333333;
  font-weight: 200;
}

.recent-news .news .read-more{
  font-size: 12px;
}


/* #Solutions Page
================================================== */
.solutions .hero h1{
  color: #e63323;
  line-height: 1;
  margin-left: 20px;
}

.solutions .hero p{
  font-size: 12px;
  margin: 22px 0 0;
  line-height: 1.6;
} 

.solutions .hero img{
  margin-top: 15px;
}

.solutions .callout#service-providers{
  top: 0;
  left: 700px;
}

.solutions .callout#web-operator{
  top: 370px;
  left: 700px;
}

.solutions .callout#enterprise{
  top: 410px;
  left: 10px;
}

/* #illustration
================================================== */
.illustration{
  position: relative;
}

.solutions .illustration{
  padding: 20px 0 150px;
}

.illustration .callout{
  position: absolute;
  min-width: 230px
}

.illustration .callout img{
  display: block;
  margin: 0 auto;
}

.illustration .callout p{
  background-color: #e63323;
  text-align: center;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  padding: 15px 0;
  border-radius: 10px;
}







